<h1>Comments</h1>
	<% no=0 %>
	<% @comment.each do |comment| %>
		<% no=no+1 %>
			<%= no %>
			<%= comment.content %>
			<%= comment.article_id %>
			<%= comment.created_at %>
			<%= comment.updated_at %>
			 
				<%= link_to "View",comment_path(comment.id) %> &nbsp;  
				<%= link_to 'Delete', comment_path(comment.id),method: :delete,confirm:"Are you sure?" %><br>
	<% end %>