<h1>Comments</h1>
<article>
	<%= link_to "Back",comments_path,class:"button" %>
	<p>
		<strong>Comment</strong><br>
		<%= @comment.content %>
	</p>
	<p>
		<strong>Comment in</strong><br>
	</p>
</article>
