<h1>Articles</h1>
<article>
	<p>
		<strong>Title</strong><br>
		<%= @article.title %>
	</p>
	<p>
		<strong>Description</strong><br>
		<%= simple_format(@article.description) %>
	</p>
	<p>
		<strong>Rating</strong><br>
		<%= @article.rating %>
	</p>
	<p>
<%= link_to "Back",articles_path,class:"button" %>
</article>
