<h1>New Category</h1>

 <%= form_for @category do |form| %>
	<% if @category.errors.any? %>
		<h4 style="color:red">
	        <%= pluralize(@category.errors.count, "error") %> prohibited this post from being saved:
	    </h4>
	    <h3 style="color:red">
	        <% @category.errors.full_messages.each do |msg| %><br>
				<%= msg %>
			<% end %>
	    </h3>
		<% end %>

 	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.submit("Tambah Kategori") %>
		<%= link_to "Back",categories_path,class:"button" %>
	</p>
<% end %>



