<h1>New Country</h1>

 <%= form_for :country,url:admin_country_path(@country.id),method:"put" do |form| %>
 <% if @country.errors.any? %>
	<h4 style="color:red">
        <%= pluralize(@country.errors.count, "error") %> prohibited this post from being saved:
    </h4>
    <h3 style="color:red">
        <% @country.errors.full_messages.each do |msg| %><br>
			<%= msg %>
		<% end %>
    </h3>
<% end %>

  	<p>
		<%= form.label :code %><br>
		<%= form.text_field :code %>
	</p>
  
 	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.submit("Edit Negara") %>
		<%= link_to "Back",admin_countries_path,class:"button" %>
	</p>
<% end %>



