<h1>This is Index for Country</h1>
<% no=0 %>
<% @country.each do |negara| %>
  <% no=no+1 %>
  <%= no %>.
  <%= negara.name %>
  <%= link_to "View",admin_country_path(negara.id) %>
  <%= link_to "Edit",edit_admin_country_path(negara.id) %>
  <%= link_to("Delete",admin_country_path(negara.id),method: :delete,confirm:"Are you sure you want to Delete?") %>
  <br>
<% end %>
<br><br>
<%= link_to "Tambah Country!",new_admin_country_path,class:"button" %>
<br><br>
