<h1>Edit Artikel</h1>
<%= form_for :article,url:article_path(@article.id),method:"put" do |form| %>
<% if @article.errors.any? %>
	<h4 style="color:red">
        <%= pluralize(@article.errors.count, "error") %> prohibited this post from being saved:
    </h4>
    <h3 style="color:red">
        <% @article.errors.full_messages.each do |msg| %><br>
			<%= msg %>
		<% end %>
    </h3>
<% end %>

  	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>
	<p>
		<%= form.label :description %><br>
		<%= form.text_area :description,size:"70x15" %>
	</p>
	<p>
		<%= form.label :rating %><br>
		<%= form.select(:rating,options_for_select([[0],[1],[2],[3],[4],[5]],@article.rating)) %>
	</p>
	<p>
		<%= form.submit %> &nbsp; 
		<%= link_to "Back",articles_path,class:"button" %>
	</p>
<% end %>
