<h1>Articles</h1>
<article>
	<p>
		<strong>Title</strong><br>
		<%= @article.title %>
	</p>
	<p>
		<strong>Description</strong><br>
		<%= simple_format(@article.description) %>
	</p>
	<p>
		<strong>Rating</strong><br>
		<%= @article.rating %>
	</p>

	<p>
		<strong>Comments</strong><br>
		<div id="comments">
			<%= render :partial => "comments", :locals => {:comments => @article.comments} %>
			<!--partial:file_name @:from global  :comments : to local-->
		</div>
	</p> 
	<% unless(current_user.nil?)%> 
		<%= form_for :comment,:url=>comments_path, :remote => true do |form| %>
			<%= form.text_area :content,size:"50x5" %><br>
			<%= form.hidden_field :article_id,:value=>@article.id %>
			<%= submit_tag "Comment" %>
		<% end %>
	<% end %>
<%= link_to "Back",articles_path,class:"button" %>
</article>
