<h1>This is Index for User</h1>
<% no=0 %>
<% @user.each do |users| %>
  <% no=no+1 %>
  <%= no %>
  <%= users.first_name %>
<%= link_to "View",admin_user_path(users.id) %>&nbsp;
<%= link_to "Edit",edit_admin_user_path(users.id) %>
<%= link_to("Delete",admin_user_path(users.id),method: :delete,confirm:"Are you sure you want to Delete?") %><br>
<% end %><br>
<%= link_to "Tambah User!",new_admin_user_path,class:"button" %><br>
<br><br>
