<!DOCTYPE html>
<html>
	<head>
		<title>Application</title>
		<%= stylesheet_link_tag "admin", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
  </head>
  <body>
    <nav id="menu">
        <%= link_to "Articles",admin_articles_path %>&nbsp;|
        <%= link_to "Users",admin_users_path %>&nbsp;|
        <%= link_to "Products",admin_products_path %>&nbsp;|
        <%= link_to "Categories",admin_categories_path %>&nbsp;|
        <%= link_to "Countries",admin_countries_path %>&nbsp;|
        <%= link_to "Comments",admin_comments_path %>
    </nav>
    <nav id="status">
      <%= raw(welcome_text) %>
    </nav>
    <article id="content">
      <%= yield %>
    </article>
  </body>