<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Exercise</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "JQuery", "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav id="menu">
        <%= link_to "Articles",articles_path %>&nbsp;|
        <%= link_to "Users",users_path %>&nbsp;|
        <%= link_to "Products",products_path %>&nbsp;|
        <%= link_to "Categories",categories_path %>&nbsp;|
        <%= link_to "Countries",countries_path %>&nbsp;|
        <%= link_to "Comments",comments_path %>
    </nav>
    <nav id="status">
      <%= raw(welcome_text) %>
    </nav>
    <article id="content">
      <%= yield %>
    </article>
  </body>
</html>
