<h1>New Product</h1>

 <%= form_for :product,url:admin_product_path(@product.id),method:"put" do |form| %>
 <% if @product.errors.any? %>
      <h4 style="color:red">
        <%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:
      </h4>
      <h3 style="color:red">
        <% @product.errors.full_messages.each do |msg| %><br>
          <%= msg %>
        <% end %>
      </h3>
  <% end %>

  <p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

  <p>
   <%= form.label :price %><br>
   Rp :<%= form.text_field :price %>
  </p>

  <p>
   <%= form.label :stock %><br>
   <%= form.text_field :stock %> Buah
  </p>
  
  <p>
   <%= form.label :description %><br>
   <%= form.text_area :description, size:"70x15" %>
  </p>

	<p>
		<%= form.submit("Tambah Produk") %>
    <%= link_to "Back",admin_products_path,class:"button" %>
	</p>
<% end %>



