<h1>This is Index for Product</h1>
<% no=0 %>
<% @product.each do |produk| %>
  <% no=no+1 %>
  <%= no %>
  <%= produk.name %>
  <%= link_to "View",admin_product_path(produk.id) %>
  <%= link_to "Edit",edit_admin_product_path(produk.id) %>
  <%= link_to("Delete",admin_product_path(produk.id),method: :delete,confirm:"Are you sure you want to Delete?") %><br>
<% end %>
<br><br>
<%= link_to "Tambah Product!",new_admin_product_path,class:"button" %><br>
