<h1>Product</h1>
<article>
	<p>
		<strong>Name</strong><br>
		<%= @product.name %>
	</p>
	<p>
		<strong>Price</strong><br>
		<%= simple_format(@product.price) %>
	</p>
	<p>
		<strong>Stock</strong><br>
		<%= @product.stock %>
	</p>
	<p>
		<strong>Description</strong><br>
		<%= simple_format(@product.description) %>
	</p>
	<p>
<%= link_to "Back",admin_products_path,class:"button" %>
</article>
