<h1>This is Index for Category</h1>
<% no=0 %>
<% @category.each do |kategori| %>
  	<% no=no+1 %>
  	<%= no %>.
  	<%= kategori.name %>
  	<%= link_to "Edit",edit_admin_category_path(kategori.id) %>
  	<%= link_to("Delete",admin_category_path(kategori.id),method: :delete,confirm:"Are you sure you want to Delete?") %><br>
<% end %>
<br><br>
<%= link_to "Tambah Kategori!",new_admin_category_path,class:"button" %><br>
