body{
	font-family:Ubuntu light !important;
	font-size:15pt;
	margin:0px auto 0px auto;
  	text-align:center;
	text-shadow:0px 0px 1px rgba(0,0,0,0.2);
	background:#2795CC;
	color: #fff;
}
body a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
body a:hover{
	text-decoration: underline;	
}
table{
  margin:0px auto 0px auto;
}

