<h1>Negara</h1>
<article>
	<p>
		<strong>Code</strong><br>
		<%= @country.code %>
	</p>
	<p>
		<strong>Country Name</strong><br>
		<%= simple_format(@country.name) %>
	</p>
	<p>
<%= link_to "Back",countries_path,class:"button" %>
</article>
