<!DOCTYPE html>
<html>
	<head>
		<title>Application | Hasan AL Farisi</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav id="menu">
			<ul>	
				<li><%= link_to "Articles",articles_path %></li>
				<li><%= link_to "Users",users_path %></li>
				<li><%= link_to "Products",products_path %></li>
				<li><%= link_to "Categories",categories_path %></li>
				<li><%= link_to "Countries",countries_path %></li>
				<li><%= link_to "Comments",comments_path %></li>
			</ul>
		</nav>
		<nav id="status">
			<%= raw(welcome_text) %>
		</nav>
		<article id="content">
			<%= yield %>
		</article>
	</body>
</html>
