<h1>This is Index Of Article</h1>

<table>
	<tr>
	  	<th>No</th>
	  	<th>Title</th>
	  	<th colspan="3">Action</th>
	</tr>
	<% no=0 %>
	<% @article.each do |artikel| %>
  	<% no=no+1 %>
		<tr>
		  	<td><%= no %></td>
		  	<td width="200px"><%= artikel.title %></td>
		  	<td><%= link_to "View",admin_article_path(artikel.id) %></td>
		  	<td><%= link_to "Edit",edit_admin_article_path(artikel.id) %></td>
		  	<td><%= link_to("Delete",admin_article_path(artikel.id),method: :delete,confirm:"Are you sure you want to Delete?") %></td>
		</tr>
	<% end %>
</table>
<br>
<%= link_to "New article",new_admin_article_path,class:"button" %>
<br><br>
