<h1>Sign Up</h1>

 <%= form_for @user do |form| %>
  <% if @user.errors.any? %>
			<h4 style="color:red">
        <%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h4>
      <h3 style="color:red">
        <% @user.errors.full_messages.each do |msg| %><br>
					<%= msg %>
				<% end %>
      </h3>
	<% end %>
   <p>
		<%= form.label :email %><br>
		<%= form.text_field :email%>
	</p>
  	<p>
		<%= form.label :password %><br>
		<%= form.password_field :password %>  
	</p>
	<p>
		<%= form.label :password_confirmation %><br>
		<%= form.password_field :password_confirmation %>  
	</p>
   	<%= form.submit("Sign Up") %>
	</p>
<% end %>



