<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Exercise</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "JQuery", "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
