<h1>New User</h1>

 <%= form_for :user,url:user_path(@user.id),method:"put" do |form| %>
  <% if @user.errors.any? %>
		<h4 style="color:red">
        	<%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:
        </h4>
      	<h3 style="color:red">
        	<% @user.errors.full_messages.each do |msg| %><br>
				<%= msg %>
			<% end %>
      	</h3>
	<% end %>

 	<p>
		<%= form.label :first_name %><br>
		<%= form.text_field :first_name %>
	</p>
	<p>
		<%= form.label :last_name %><br>
		<%= form.text_field :last_name %>
	</p>
  	<p>
		<%= form.label :email %><br>
		<%= form.text_area :email,size:"40x3" %>
	</p>
 	<p>
	<%= form.label :username %><br>
		<%= form.text_field :username %>
	</p>
	<p>
		<%= form.label :password %><br>
		<%= form.password_field :password %>  
	</p>
	<p>
		<%= form.label :password_confirmation %><br>
		<%= form.password_field :password_confirmation %>  
	</p>
    <p>
    <%= form.label :date_pf_birth %><br>
		<%= form.text_field :date_of_birth %>
    </p>
  	<p>
		<%= form.label :address %><br>
		<%= form.text_area :address,size:"40x3" %>
	</p>
	<p>
		<%= form.label :nationality %><br>
		<%= form.collection_select :country_id,Country.all,:id,:name %>
	</p>
	<p>
		<%= form.submit("Sign Up") %>
    <%= link_to "Back",users_path,class:"button" %>
	</p>
<% end %>



