<h1>Sign Up</h1>
<mark>
	<%= flash[:error_message] %>
</mark>
<%= form_for @user do |form| %>  
	<% if @user.errors.any? %>  
		<div class="error_messages">  
			<h2>Form is invalid</h2>  
			<ul>  
				<% for message in @user.errors.full_messages %>  
					<li><%= message %></li>  
				<% end %>  
      </ul>  
    </div>  
  <% end %>  
  <p>
		<%= form.label :first_name %><br>
		<%= form.text_field :first_name %>
	</p>
	<p>
		<%= form.label :last_name %><br>
		<%= form.text_field :last_name %>
	</p>
	<p>
		<%= form.label :address %><br>
		<%= form.text_area :address,size:"40x3" %>
	</p>
	<p>
		<%= form.label :countries %><br>
		<%= form.collection_select :country_id,Country.all,:id,:name %>
	</p>
	<p>
		<%= form.label :username %><br>
		<%= form.text_field :username %>
	</p>
	<p>
    	<%= form.label :email %><br>  
		<%= form.text_field :email %>  
	</p>
	<p>
		<%= form.label :password %><br>
		<%= form.password_field :password %>  
	</p>
	<p>
		<%= form.label :password_confirmation %><br>
		<%= form.password_field :password_confirmation %>  
	</p>
	<p>
		<center>
			Please insert Recaptcha here!
			<%= recaptcha_tags %></center>
	</p>
	<p>	
		<%= form.submit("Sign Up") %>
	</p>
<% end %>
