<h1>Articles</h1>
<article>
	<p>
		<strong>Name</strong><br>
		<%= @user.first_name %> <%= @user.last_name %>
	</p>
  
	<p>
		<strong>E-Mail</strong><br>
		<%= @user.email %>
	</p>
	<p>
		<strong>Address</strong><br>
		<%= @user.address %>
	</p>
	<p>
		<strong>Birth date</strong><br>
		<%= @user.date_of_birth  %>
	</p>
	<p>
		<strong>Age</strong><br>
		<%= @user.age %>
	</p>
	<p>
		<strong>Nationality</strong><br>
		<%= Country.find(@user.country_id).name  %>
	</p>
	<p>
		<strong>Username</strong><br>
		<%= @user.username  %>
	</p>

	<p>
<%= link_to "Back",users_path,class:"button" %>
</article>
